*, h1 {
  margin: 0;
}

html, body {
  /* variables */
  --header-height: 50px;
  --page-padding: 15px;
  /* scroll */
  overflow: hidden;
  /* typography */
  font-family: Google Sans, arial, sans-serif;
}

p {
  text-align: justify;
}

body > header {
  background-color: rgb(85, 10, 10);
  padding: 0 var(--page-padding);
  /* sizing */
  width: calc(100% - var(--page-padding) * 2);
  height: var(--header-height);
  /* positioning */
  position: fixed;
  top: 0;
  left: 0;
}

body > header > h1 {
  /* flexbox */
  flex-grow: 1;  
  color: white;
}

body > header > nav {
  /* sizing */
  height: 100%;
  /* flexbox */
  flex-grow: 3;
}

body > header > nav > ul {
  /* sizing */
  height: 100%;
  /* list */
  padding: 0;
  list-style-type: none;
}

body > header > nav > ul > li {
  /* sizing */
  height: 100%;
  color: white;
}

body > header > nav > ul > li > a {
  background-color: rgb(85, 10, 10);
  /* typography */
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  color: unset;
  /* flexbox */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* sizing */
  padding: 0 30px;
  height: 100%;
  /* content */
  white-space: nowrap;
}

body > header > nav > ul > li > a:hover {
  text-decoration: none;
  color: unset;
}

body > main {
  background-color: black;
  padding: 0 var(--page-padding);
  /* positioning */
  margin-top: var(--header-height);
  /* sizing */
  height: calc(100vh - var(--header-height));
  /* scrolling */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body > main > section {
  /* sizing */
  height: 100%;
  /* scrolling */
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

body > header > nav > ul.header-flex-config {
  /* flexbox */
  justify-content: space-evenly;
}

.header-flex-config {
  /* flexbox */
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sobre {
  background-color: rgb(247, 245, 180);
  /* flexbox */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#sobre > article {
  max-width: 49%;
}

#sobre > article:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

#sobre > article:first-child > img {
  margin-top: 30px;
  width: 400px;
}

#sobre > article:nth-child(2) > ul {
  margin: 5%;
}

#sobre > article:nth-child(2) > ul > li {
  text-align: justify;
  font-size: 0.9em;
}

#carcassonne {
  background-color: rgb(112, 112, 238);
}

#dixit {
  background-color: rgb(252, 157, 123);
}

#seven_wonders {
  background-color: rgb(201, 168, 85);
}

.jogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 25px;
}

.jogo > div {
  width: 50%;
}

.jogo > div > h2 {
  font-size: 4em;
}

.jogo > div > h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.jogo > img {
  width: 50%;
  height: auto;
  max-width: 700px;
}
