*, h1 {
  margin: 0;
}

html, body {
  /* variables */
  --header-height: 50px;
  --page-padding: 15px;
  /* scroll */
  overflow: hidden;
  /* typography */
  font-family: Google Sans, arial, sans-serif;
}

body > header {
  background-color: red;
  padding: 0 var(--page-padding);
  /* sizing */
  width: calc(100% - var(--page-padding) * 2);
  height: var(--header-height);
  /* positioning */
  position: fixed;
  top: 0;
  left: 0;
}

body > header > h1 {
  /* flexbox */
  flex-grow: 1;
}

body > header > nav {
  /* sizing */
  height: 100%;
  /* flexbox */
  flex-grow: 3;
}

body > header > nav > ul {
  /* sizing */
  height: 100%;
  /* list */
  padding: 0;
  list-style-type: none;
}

body > header > nav > ul > li {
  /* sizing */
  height: 100%;
}

body > header > nav > ul > li > a {
  background-color: aqua;
  /* typography */
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  color: unset;
  /* flexbox */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* sizing */
  padding: 0 30px;
  height: 100%;
  /* content */
  white-space: nowrap;
}

body > header > nav > ul > li > a:hover {
  text-decoration: none;
  color: unset;
}

body > main {
  background-color: black;
  padding: 0 var(--page-padding);
  /* positioning */
  margin-top: var(--header-height);
  /* sizing */
  height: calc(100vh - var(--header-height));
  /* scrolling */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body > main > section {
  /* sizing */
  height: 100%;
  /* scrolling */
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

body > header > nav > ul.header-flex-config {
  /* flexbox */
  justify-content: space-evenly;
}

.header-flex-config {
  /* flexbox */
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sobre {
  background-color: white;
  /* flexbox */
  display: flex;
  flex-direction: row;
}

#sobre > article {
  max-width: 50%;
}

#carcassonne {
  background-color: blue;
}

#dixit {
  background-color: orangered;
}

#seven_wonders {
  background-color: goldenrod;
}
