*, h1 {
  margin: 0;
}

ul, ol {
  padding: 0;
}

html, body {
  overflow: hidden;
  --header-height: 50px;
}

body > header {
  background-color: red;
  /* sizing */
  width: 100%;
  height: var(--header-height);
  /* positioning */
  position: fixed;
  top: 0;
  left: 0;
}

body > header > h1 {
  flex-grow: 1;
}

body > header > nav {
  flex-grow: 4;
}

body > header > nav > ul {
  /* list */
  list-style-type: none;
}

body > main {
  background-color: black;
  /* positioning */
  margin-top: var(--header-height);
  /* sizing */
  width: 100%;
  height: calc(100vh - var(--header-height));
  /* scrolling */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body > main > section {
  /* sizing */
  width: 100%;
  height: 100%;
  /* scrolling */
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.header-flex-config {
  /* flexbox */
  display: flex;
  flex-direction: row;
  align-items: center;
}

body > header > nav > ul.header-flex-config {
  /* flexbox */
  justify-content: space-around;
}

#sobre {
  background-color: white;
}

#carcassonne {
  background-color: blue;
}

#dixit {
  background-color: orangered;
}

#seven_wonders {
  background-color: goldenrod;
}
